USE [master]
GO
/****** Object:  Database [ExamenesUniversidad]    Script Date: 14/06/2019 19:11:59 ******/
CREATE DATABASE [ExamenesUniversidad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamenesUniversidad', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ExamenesUniversidad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamenesUniversidad_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ExamenesUniversidad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamenesUniversidad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamenesUniversidad]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14/06/2019 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 14/06/2019 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cursos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstudianteRespuestas]    Script Date: 14/06/2019 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstudianteRespuestas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Respuesta] [int] NOT NULL,
	[EstudianteId] [int] NOT NULL,
	[ExamenPreguntaId] [int] NOT NULL,
	[Correcta] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EstudianteRespuestas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 14/06/2019 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroCarnet] [int] NOT NULL,
	[Nombres] [nvarchar](max) NULL,
	[Apellidos] [nvarchar](max) NULL,
	[NombreUsuario] [nvarchar](max) NULL,
	[Clave] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Estudiantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examenes]    Script Date: 14/06/2019 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examenes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](max) NULL,
	[Abierto] [bit] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NOT NULL,
	[CursoId] [int] NOT NULL,
	[ProfesorId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Examenes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamenPreguntas]    Script Date: 14/06/2019 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamenPreguntas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroPregunta] [int] NOT NULL,
	[PreguntaId] [int] NOT NULL,
	[ExamenId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ExamenPreguntas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 14/06/2019 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Consecutivo] [nvarchar](max) NULL,
	[Enunciado] [nvarchar](max) NULL,
	[Respuesta1] [nvarchar](max) NULL,
	[Respuesta2] [nvarchar](max) NULL,
	[Respuesta3] [nvarchar](max) NULL,
	[Respuesta4] [nvarchar](max) NULL,
	[Respuesta5] [nvarchar](max) NULL,
	[RespuestaCorrecta] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Preguntas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 14/06/2019 19:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [int] NOT NULL,
	[Nombres] [nvarchar](max) NULL,
	[Apellidos] [nvarchar](max) NULL,
	[NombreUsuario] [nvarchar](max) NULL,
	[Clave] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Profesores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cursos] ON 

INSERT [dbo].[Cursos] ([Id], [Codigo], [Nombre]) VALUES (2, N'03v3s', N'Medicina')
INSERT [dbo].[Cursos] ([Id], [Codigo], [Nombre]) VALUES (6, N'y6a1m', N'Matemáticas')
SET IDENTITY_INSERT [dbo].[Cursos] OFF
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 

INSERT [dbo].[Estudiantes] ([Id], [NumeroCarnet], [Nombres], [Apellidos], [NombreUsuario], [Clave]) VALUES (2, 123456, N'Johana', N'Cely', N'estudiante', N'e4e4564027d73a4325024d948d167e93')
INSERT [dbo].[Estudiantes] ([Id], [NumeroCarnet], [Nombres], [Apellidos], [NombreUsuario], [Clave]) VALUES (3, 1111, N'Prueba', N'Prueba', N'prueba1', N'3f1b7ccad63d40a7b4c27dda225bf941')
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
SET IDENTITY_INSERT [dbo].[Examenes] ON 

INSERT [dbo].[Examenes] ([Id], [Codigo], [Abierto], [FechaInicio], [FechaFin], [CursoId], [ProfesorId]) VALUES (1, N'f4tg5', 1, CAST(N'2019-06-09T20:27:41.007' AS DateTime), CAST(N'2019-07-09T20:27:41.007' AS DateTime), 2, 1)
INSERT [dbo].[Examenes] ([Id], [Codigo], [Abierto], [FechaInicio], [FechaFin], [CursoId], [ProfesorId]) VALUES (3, N'12s5r', 1, CAST(N'2019-06-12T19:28:07.307' AS DateTime), CAST(N'2019-06-13T19:28:07.000' AS DateTime), 2, 1)
INSERT [dbo].[Examenes] ([Id], [Codigo], [Abierto], [FechaInicio], [FechaFin], [CursoId], [ProfesorId]) VALUES (4, N'cn0bs', 1, CAST(N'2019-06-12T19:30:28.787' AS DateTime), CAST(N'2019-06-14T19:30:28.000' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Examenes] OFF
SET IDENTITY_INSERT [dbo].[ExamenPreguntas] ON 

INSERT [dbo].[ExamenPreguntas] ([Id], [NumeroPregunta], [PreguntaId], [ExamenId]) VALUES (1, 1, 2, 1)
INSERT [dbo].[ExamenPreguntas] ([Id], [NumeroPregunta], [PreguntaId], [ExamenId]) VALUES (2, 2, 5, 1)
INSERT [dbo].[ExamenPreguntas] ([Id], [NumeroPregunta], [PreguntaId], [ExamenId]) VALUES (3, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[ExamenPreguntas] OFF
SET IDENTITY_INSERT [dbo].[Preguntas] ON 

INSERT [dbo].[Preguntas] ([Id], [Consecutivo], [Enunciado], [Respuesta1], [Respuesta2], [Respuesta3], [Respuesta4], [Respuesta5], [RespuestaCorrecta], [CursoId]) VALUES (1, N'2oer2', N'¿Cuál es la parte del cuerpo que transporta sangre por todo el cuerpo?', N'Cerebro', N'Estómago', N'Pies', N'Corazón', N'Nariz', 4, 2)
INSERT [dbo].[Preguntas] ([Id], [Consecutivo], [Enunciado], [Respuesta1], [Respuesta2], [Respuesta3], [Respuesta4], [Respuesta5], [RespuestaCorrecta], [CursoId]) VALUES (2, N'zbu6w', N'¿De qué color es la sangre humana?', N'Roja', N'Verde', N'Blanca', N'Amarilla', N'Transparente', 1, 2)
INSERT [dbo].[Preguntas] ([Id], [Consecutivo], [Enunciado], [Respuesta1], [Respuesta2], [Respuesta3], [Respuesta4], [Respuesta5], [RespuestaCorrecta], [CursoId]) VALUES (3, N'plmv9', N'¿Cuántos huesos tiene un ser humano adulto?', N'196', N'217', N'206', N'200', N'203', 3, 2)
SET IDENTITY_INSERT [dbo].[Preguntas] OFF
SET IDENTITY_INSERT [dbo].[Profesores] ON 

INSERT [dbo].[Profesores] ([Id], [Cedula], [Nombres], [Apellidos], [NombreUsuario], [Clave]) VALUES (1, 123, N'Cristian', N'Barreto', N'profesor', N'793741d54b00253006453742ad4ed534')
SET IDENTITY_INSERT [dbo].[Profesores] OFF
/****** Object:  Index [IX_EstudianteId]    Script Date: 14/06/2019 19:12:00 ******/
CREATE NONCLUSTERED INDEX [IX_EstudianteId] ON [dbo].[EstudianteRespuestas]
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamenPreguntaId]    Script Date: 14/06/2019 19:12:00 ******/
CREATE NONCLUSTERED INDEX [IX_ExamenPreguntaId] ON [dbo].[EstudianteRespuestas]
(
	[ExamenPreguntaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CursoId]    Script Date: 14/06/2019 19:12:00 ******/
CREATE NONCLUSTERED INDEX [IX_CursoId] ON [dbo].[Examenes]
(
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProfesorId]    Script Date: 14/06/2019 19:12:00 ******/
CREATE NONCLUSTERED INDEX [IX_ProfesorId] ON [dbo].[Examenes]
(
	[ProfesorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamenId]    Script Date: 14/06/2019 19:12:00 ******/
CREATE NONCLUSTERED INDEX [IX_ExamenId] ON [dbo].[ExamenPreguntas]
(
	[ExamenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PreguntaId]    Script Date: 14/06/2019 19:12:00 ******/
CREATE NONCLUSTERED INDEX [IX_PreguntaId] ON [dbo].[ExamenPreguntas]
(
	[PreguntaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CursoId]    Script Date: 14/06/2019 19:12:00 ******/
CREATE NONCLUSTERED INDEX [IX_CursoId] ON [dbo].[Preguntas]
(
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EstudianteRespuestas] ADD  DEFAULT ((0)) FOR [Correcta]
GO
ALTER TABLE [dbo].[EstudianteRespuestas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EstudianteRespuestas_dbo.Estudiantes_EstudianteId] FOREIGN KEY([EstudianteId])
REFERENCES [dbo].[Estudiantes] ([Id])
GO
ALTER TABLE [dbo].[EstudianteRespuestas] CHECK CONSTRAINT [FK_dbo.EstudianteRespuestas_dbo.Estudiantes_EstudianteId]
GO
ALTER TABLE [dbo].[EstudianteRespuestas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EstudianteRespuestas_dbo.ExamenPreguntas_ExamenPreguntaId] FOREIGN KEY([ExamenPreguntaId])
REFERENCES [dbo].[ExamenPreguntas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EstudianteRespuestas] CHECK CONSTRAINT [FK_dbo.EstudianteRespuestas_dbo.ExamenPreguntas_ExamenPreguntaId]
GO
ALTER TABLE [dbo].[Examenes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Examenes_dbo.Cursos_CursoId] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Cursos] ([Id])
GO
ALTER TABLE [dbo].[Examenes] CHECK CONSTRAINT [FK_dbo.Examenes_dbo.Cursos_CursoId]
GO
ALTER TABLE [dbo].[Examenes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Examenes_dbo.Profesores_ProfesorId] FOREIGN KEY([ProfesorId])
REFERENCES [dbo].[Profesores] ([Id])
GO
ALTER TABLE [dbo].[Examenes] CHECK CONSTRAINT [FK_dbo.Examenes_dbo.Profesores_ProfesorId]
GO
ALTER TABLE [dbo].[ExamenPreguntas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExamenPreguntas_dbo.Examenes_ExamenId] FOREIGN KEY([ExamenId])
REFERENCES [dbo].[Examenes] ([Id])
GO
ALTER TABLE [dbo].[ExamenPreguntas] CHECK CONSTRAINT [FK_dbo.ExamenPreguntas_dbo.Examenes_ExamenId]
GO
ALTER TABLE [dbo].[ExamenPreguntas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExamenPreguntas_dbo.Preguntas_PreguntaId] FOREIGN KEY([PreguntaId])
REFERENCES [dbo].[Preguntas] ([Id])
GO
ALTER TABLE [dbo].[ExamenPreguntas] CHECK CONSTRAINT [FK_dbo.ExamenPreguntas_dbo.Preguntas_PreguntaId]
GO
ALTER TABLE [dbo].[Preguntas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Preguntas_dbo.Cursos_CursoId] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Cursos] ([Id])
GO
ALTER TABLE [dbo].[Preguntas] CHECK CONSTRAINT [FK_dbo.Preguntas_dbo.Cursos_CursoId]
GO
USE [master]
GO
